.flexbox {
    display: flex;
}

body,
html,
#app {
    height: 100%;
    width: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

svg:focus,
path:focus {
    outline: none;
    border: 0;
}

@media all and (max-width: 768px) {
    html { font-size: 14px; }
}

@media all and (max-width: 668px) {
    html { font-size: 12px; }
}

@media all and (max-width: 568px) {
    html { font-size: 10px; }
}

@media all and (max-width: 568px) {
    html { font-size: 8px; }
}