.flexbox {
    display: flex;
}

body,
html,
#app {
    height: 100%;
    width: 100%;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}